<div class="card-1">
  <div class="card-head d-flex justify-content-between">
      <h2 class="heading">Edit Infocenter</h2>
      <ul class="tab-1">
          <li ><a href="#view">View</a></li>
          <li class="active"><a href="#edit">Edit</a></li>
          <li><a href="#widgets">Widgets</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#settings">Settings</a></li>
          <li><a href="#users">Users</a></li>
          <li><a href="#trail">User Trail</a></li>
      </ul>
  </div>
  <div class="card-content tab-content p-2">
      <div class="edit-content clear flow-rootX2" id="view">
          View Content will goes here
      </div>
      <div class="edit-content clear flow-rootX2 active" id="edit">
          <div class="d-flex justify-content-between">
              <h3 class="card--title-italic">Change whatever details you want to update and click Update Infocenter button</h3>
              <div class="swicth-check d-flex align-items-center">
                  <span>Halt</span>
                  <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                  </label>
                  <span>Resume</span>
              </div>
          </div>
          <div class="allForm">
              <div class="grid-3">
                  <div class="form-element">
                      <label class="form-label">Infocenter Name</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <select data-placeholder="Choose Countries" multiple class="chosen-select form-field" tabindex="6">
                          <option value=""></option>
                          <option value="Afghanistan">Afghanistan</option>
                          <option value="Bahamas">Bahamas</option>
                          <option value="Cambodia">Cambodia</option>
                          <option value="Denmark">Denmark</option>
                          <option value="Egypt">Egypt</option>
                          <option value="France">France</option>
                          <option value="Germany">Germany</option>
                          <option value="India" selected>India</option>
                          <option value="Japan">Japan</option>
                      </select>
                  </div>
                  <div class="form-element form-select">
                      <label class="form-label">Infocenter Type</label>
                      <select class="form-field">
                          <option></option>
                          <option>Client</option>
                          <option>Community</option>
                          <option>Other</option>
                      </select>
                  </div>
              </div>
              <div class="grid-1">
                  <div class="form-element">
                      <!-- <label class="form-label">Select Therapeutic Areas</label> -->
                      <select data-placeholder="Select Therapeutic Areas" multiple class="chosen-select form-field" tabindex="6">
                          <option value=""></option>
                          <option value="Alternative Medicine">Alternative Medicine</option>
                          <option value="Cardiology">Cardiology</option>
                          <option value="Physician">Physician</option>
                          <option value="Internal Medicine">Internal Medicine</option>
                          <option value="Surgery Cardiovascular">Surgery Cardiovascular</option>
                          <option value="Anesthesiology">Anesthesiology</option>
                          <option value="Biochemistry">Biochemistry</option>
                          <option value="Career in Medicine">Career in Medicine</option>
                          <option value="Coloproctology">Coloproctology</option>
                      </select>
                  </div>
              </div>
              <div class="grid-3">
                  <div class="form-element">
                      <label class="form-label">Product Code/Infocenter Code</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Company Location</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact Name</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact Designation</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact Email</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact Phone</label>
                      <input type="text" class="form-field">
                  </div>
              </div>
              <div class="grid-2">
                  <div class="form-element">
                      <label class="form-label">Infocenter Welcome Description</label>
                      <textarea class="form-field"></textarea>
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact Description</label>
                      <textarea class="form-field"></textarea>
                  </div>
              </div>
              <h3 class="card--title-italic">Change Logos, Banners and click Update Infocenter button</h3>
              <div class="grid-1">
                  <div class="form-element form-upload">
                      <div class="upload-container">
                          <label>Upload Banner</label>
                          <!-- <div class="preview-zone hidden">
                              <div class="box box-solid">
                                  <div class="box-header with-border">
                                  <div class="box-tools pull-right">
                                      <button type="button" class="remove-preview"><span class="material-icons-round">close</span></button>
                                  </div>
                                  </div>
                                  <div class="box-body"></div>
                              </div>
                              </div>
                              <div class="dropzone-wrapper">
                              <div class="dropzone-desc">
                                  <i class="glyphicon glyphicon-download-alt"></i>
                                  <p>Drop files here or click to upload.</p>
                              </div>
                              <input type="file" name="img_logo" class="dropzone">
                          </div> -->
                          <div class="cropme" style="width: 1280px; height: 354px;"></div>
                          <div class="upload-info">
                              <p>Click on Thumbnail to upload Images.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="grid-2">
                  <div class="form-element form-upload">
                      <div class="upload-container">
                          <label>Upload Logo</label>
                          <!-- <div class="preview-zone hidden">
                              <div class="box box-solid">
                                  <div class="box-header with-border">
                                  <div class="box-tools pull-right">
                                      <button type="button" class="remove-preview"><span class="material-icons-round">close</span></button>
                                  </div>
                                  </div>
                                  <div class="box-body"></div>
                              </div>
                              </div>
                              <div class="dropzone-wrapper">
                              <div class="dropzone-desc">
                                  <i class="glyphicon glyphicon-download-alt"></i>
                                  <p>Drop files here or click to upload.</p>
                              </div>
                              <input type="file" name="img_logo" class="dropzone">
                          </div> -->
                          <div class="cropme" style="width: 280px; height: 200px;"></div>
                          <div class="upload-info">
                              <p>Click on Thumbnail to upload Images.</p>
                          </div>
                      </div>
                  </div>
                  <div class="form-element form-upload">
                      <div class="upload-container">
                          <label>Upload Contact Image</label>
                          <!-- <div class="preview-zone hidden">
                              <div class="box box-solid">
                                  <div class="box-header with-border">
                                  <div class="box-tools pull-right">
                                      <button type="button" class="remove-preview"><span class="material-icons-round">close</span></button>
                                  </div>
                                  </div>
                                  <div class="box-body"></div>
                              </div>
                              </div>
                              <div class="dropzone-wrapper">
                              <div class="dropzone-desc">
                                  <i class="glyphicon glyphicon-download-alt"></i>
                                  <p>Drop files here or click to upload.</p>
                              </div>
                              <input type="file" name="img_logo" class="dropzone">
                          </div> -->
                          <div class="cropme" style="width: 200px; height: 200px;"></div>
                          <div class="upload-info">
                              <p>Click on Thumbnail to upload Images.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="d-flex justify-content-end">
                  <div class="form-element form-btn">
                      <button class="btn bg-yellow c-black bg-hvr-black c-hvr-white xs-rounded">Update</button>
                  </div>
                  <div class="form-element form-btn ml-1">
                      <button class="btn outline btn-black c-black c-hvr-white xs-rounded">Preview</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="edit-content clear flow-rootx" id="widgets">
          <div class="d-flex justify-content-between">
              <h3 class="card--title-italic">Add or Customize Widgets</h3>
              <div class="form-element form-btn text-right mb-0">
                  <button class="btn bg-yellow c-black bg-hvr-black c-hvr-white xs-rounded">Add Widget</button>
              </div>
          </div>
          <div class="grid-3">
              <div class="card-2">
                  <label>Infocenter Terms and Conditions</label>
                  <div class="card-block">
                      <h5 class="h5">What is Lorem Ipsum?</h5>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                      <div class="card-action">
                          <div class="dropdown-menu">
                              <button class="menu-btn"><span class="material-icons-round">more_horiz</span></button>
                              <div class="menu-content">
                                  <a class="links" href="#">Edit</a>
                                  <a class="links" href="#">Delete</a>
                                  <a class="links" href="#">Hide Widget</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-2">
                  <label>Infocenter Type</label>
                  <div class="card-block">
                      <h4 class="h4">Client</h4>
                      <div class="card-action">
                          <div class="dropdown-menu">
                              <button class="menu-btn"><span class="material-icons-round">more_horiz</span></button>
                              <div class="menu-content">
                                  <a class="links" href="#">Edit</a>
                                  <a class="links" href="#">Delete</a>
                                  <a class="links" href="#">Hide Widget</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-2">
                  <label>Tag Region</label>
                  <div class="card-block">
                      <h5 class="h5">Countries</h5>
                      <div class="tag">
                          <span>India</span>
                      </div>
                      <div class="card-action">
                          <div class="dropdown-menu">
                              <button class="menu-btn"><span class="material-icons-round">more_horiz</span></button>
                              <div class="menu-content">
                                  <a class="links" href="#">Edit</a>
                                  <a class="links" href="#">Delete</a>
                                  <a class="links" href="#">Hide Widget</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-2">
                  <div class="d-flex justify-content-between align-items-center">
                      <label>Additional Product Information <a><span class="material-icons-round">content_copy</span></a></label>
                      <div class="hide-widget">Hidden Widget</div>
                  </div>
                  <div class="card-block">
                      <h4 class="h4">Corporate Brochure</h4>
                      <div class="card-action">
                          <div class="dropdown-menu">
                              <button class="menu-btn"><span class="material-icons-round">more_horiz</span></button>
                              <div class="menu-content">
                                  <a class="links" href="#">Edit</a>
                                  <a class="links" href="#">Delete</a>
                                  <a class="links" href="#">Hide Widget</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-2">
                  <div class="d-flex justify-content-between align-items-center">
                      <label>Related Videos <a><span class="material-icons-round">content_copy</span></a></label>
                      <div class="hide-widget">Hidden Widget</div>
                  </div>
                  <div class="card-block">
                      <h4 class="h4">www.youtube.com/video/......</h4>
                      <div class="card-action">
                          <div class="dropdown-menu">
                              <button class="menu-btn"><span class="material-icons-round">more_horiz</span></button>
                              <div class="menu-content">
                                  <a class="links" href="#">Edit</a>
                                  <a class="links" href="#">Delete</a>
                                  <a class="links" href="#">Hide Widget</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-2">
                  <div class="d-flex justify-content-between align-items-center">
                      <label>Recommended Read For You <a><span class="material-icons-round">content_copy</span></a></label>
                  </div>
                  <div class="card-block">
                      <h4 class="h4">1. What is Lorem Ipsum?</h4>
                      <div class="card-action">
                          <div class="dropdown-menu">
                              <button class="menu-btn"><span class="material-icons-round">more_horiz</span></button>
                              <div class="menu-content">
                                  <a class="links" href="#">Edit</a>
                                  <a class="links" href="#">Delete</a>
                                  <a class="links" href="#">Hide Widget</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-end">
                  <div class="form-element form-btn">
                      <button class="btn bg-yellow c-black bg-hvr-black c-hvr-white xs-rounded">Update</button>
                  </div>
                  <div class="form-element form-btn ml-1">
                      <button class="btn outline btn-black c-black c-hvr-white xs-rounded">Preview</button>
                  </div>
              </div>
      </div>
  </div>
</div>
