<div class="content-main flow-rootX2">
  <div class="card-1">
      <div class="card-head d-flex justify-content-between">
          <h2 class="heading">Summary</h2>
      </div>
      <div class="card-content p-2">
          <div class="flow-rootx">
              <div class="grid-card-content">
                  <div class="author--profile posiR">
                      <div class="author-overlay">
                          <figure class="cropme posiR" style="left: 0; transform: inherit; background-image: none;"><img src="https://cdn.docplexus.com/121/1/1/012d32da-19bf-4d9f-8288-c539749fa9df_dr.ry72ulPV_t.jpg"></figure>
                      </div>
                      <article>
                          <h4 class="h4">Sarbajit Das</h4>
                          <p>General Physician</p>
                      </article>
                      <div class="pic-upload">
                          <a class="font--tiny c-a10-yellow-2 c-hvr-txt cursor-pointer"><span class="material-icons-outlined">edit</span></a>
                      </div>
                  </div>
                  <div class="d-flex flex-column align-items-end justify-content-between">
                      <a><span class="material-icons-outlined">edit</span></a>
                      <p class="font--desc-small c-blue text-up"> India</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card-1">
      <div class="card-head d-flex justify-content-between">
          <h2 class="heading">Roles & Privilege</h2>
      </div>
      <div class="card-content p-2">
          <div class="bg-a10-ltylw inner-box p-2 xs-rounded">
              <div class="tag">
                  <span>User</span>
                  <span>Admin</span>
                  <span>Internal_user</span>
              </div>
          </div>
      </div>
  </div>
  <div class="card-1">
      <div class="card-head d-flex justify-content-between">
          <h2 class="heading">Specialties & Interest</h2>
      </div>
      <div class="card-content p-2">
          <div class="bg-white inner-box flow-rootx">
              <h4 class="font--small">Primary Specialty</h4>
              <div class="bg-a10-ltylw inner-box p-2 xs-rounded">
                  <div class="tag">
                      <span>Coloproctology</span>
                  </div>
              </div>
              <h4 class="font--small">Interests</h4>
              <div class="bg-a10-ltylw inner-box p-2 xs-rounded">
                  <div class="tag">
                      <span>Cardiology</span>
                      <span>Biochemistry</span>
                      <span>Anesthesiology</span>
                      <span>Andrology</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card-1">
      <div class="card-head d-flex justify-content-between">
          <h2 class="heading">Contact Details</h2>
      </div>
      <div class="card-content p-2">
          <div class="bg-white inner-box flow-rootx">
              <div class="flex-card-content">
                  <h4 class="w-100 c-a10-blue h4">Email Address</h4>
                  <p class="font--tiny">sundew.team@docplexus.in</p>
                  <a><span class="material-icons-outlined">edit</span></a>
              </div>
              <div class="flex-card-content">
                  <h4 class="w-100 c-a10-blue h4">Contat No.</h4>
                  <p class="font--tiny">+919852055883</p>
                  <a><span class="material-icons-outlined">edit</span></a>
              </div>
          </div>
      </div>
  </div>
  <div class="card-1">
      <div class="card-head d-flex justify-content-between">
          <h2 class="heading">Change Password</h2>
      </div>
      <div class="card-content p-2">
          <form class="allForm">
              <div class="grid-2">
                  <div class="form-element">
                      <label class="form-label">Old Password</label>
                      <input type="password" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">New Password</label>
                      <input type="password" class="form-field">
                  </div>
              </div>
              <div class="grid-1">
                  <div class="form-element form-btn text-right">
                      <button class="btn bg-yellow c-black bg-hvr-black c-hvr-white xs-rounded">Save</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <div class="card-1">
      <div class="card-head d-flex justify-content-between">
          <h2 class="heading">Have Suggestion for us?</h2>
      </div>
      <div class="card-content p-2 flow-rootx2">
          <h4 class="font--small">Need help with profile and role changes</h4>
          <h4 class="font--small c-text-opac">Contact Identity and Access Management Group</h4>
          <h4 class="font--small">iamgroup@docplexus.in</h4>
          <form class="allForm mb-1 mt-2">
              <div class="grid-1">
                  <div class="form-element mb-0">
                      <label class="form-label">Your Message</label>
                      <textarea class="form-field"></textarea>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                      <div class="form-element form-btn">
                          <button class="btn bg-yellow c-black bg-hvr-black c-hvr-white xs-rounded">Send</button>
                      </div>
                      <div class="form-element form-btn ml-1">
                          <button class="btn outline btn-black c-black c-hvr-white xs-rounded">Cancel</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
