<div class="content-main">
  <div class="card-1">
      <div class="card-head">
          <h2 class="heading">List of Scheduled Campaigns</h2>
          <p class="entries">Showing 1 to 20 of 182 entries</p>
      </div>
      <div class="card-content">
          <div class="table-header">
              <div class="search">
                  <div class="form-element">
                      <input type="text" class="form-field" placeholder="Search">
                      <span class="material-icons-outlined">search</span>
                  </div>
              </div>
              <div class="filter">
                  <!-- <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white"><span class="material-icons-outlined">filter_alt</span> Filter</a> -->
                  <div class="ui-dropdown ml-auto filter">
                      <span class="ui-dropdown--selected btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white"><span class="material-icons-outlined">filter_alt</span> Filter</span>
                      <div class="ui-dropdown--items">
                          <h3 class="title">Filter Options</h3>
                          <div class="filter-box">
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by UUID">
                              </div>
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by Name">
                              </div>
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by Date">
                              </div>
                              <div class="form-element mb-1 text-right">
                                  <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
          <div class="table-body pt-0">
              <div class="table">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>&nbsp;</th>
                              <th>UUID</th>
                              <th>Campaign Name</th>
                              <th>Schedule Time</th>
                              <th>Status</th>
                              <th>User Count</th>
                              <th>Note</th>
                              <th>&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td></td>
                              <td>24210</td>
                              <td>Digest 6 Charu</td>
                              <td>2022-03-18 10:15:00.0</td>
                              <td>scheduled</td>
                              <td>2061</td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>24210</td>
                            <td>Digest 6 Charu</td>
                            <td>2022-03-18 10:15:00.0</td>
                            <td>scheduled</td>
                            <td>2061</td>
                            <td>
                                <div class="ui-dropdown ml-auto">
                                    <span class="ui-dropdown--selected">Actions</span>
                                    <div class="ui-dropdown--items">
                                        <a data-val="Users"></a>
                                        <a data-val="Edit"></a>
                                        <a data-val="Delete"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>24210</td>
                          <td>Digest 6 Charu</td>
                          <td>2022-03-18 10:15:00.0</td>
                          <td>scheduled</td>
                          <td>2061</td>
                          <td>
                              <div class="ui-dropdown ml-auto">
                                  <span class="ui-dropdown--selected">Actions</span>
                                  <div class="ui-dropdown--items">
                                      <a data-val="Users"></a>
                                      <a data-val="Edit"></a>
                                      <a data-val="Delete"></a>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>24210</td>
                        <td>Digest 6 Charu</td>
                        <td>2022-03-18 10:15:00.0</td>
                        <td>scheduled</td>
                        <td>2061</td>
                        <td>
                            <div class="ui-dropdown ml-auto">
                                <span class="ui-dropdown--selected">Actions</span>
                                <div class="ui-dropdown--items">
                                    <a data-val="Users"></a>
                                    <a data-val="Edit"></a>
                                    <a data-val="Delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>24210</td>
                      <td>Digest 6 Charu</td>
                      <td>2022-03-18 10:15:00.0</td>
                      <td>scheduled</td>
                      <td>2061</td>
                      <td>
                          <div class="ui-dropdown ml-auto">
                              <span class="ui-dropdown--selected">Actions</span>
                              <div class="ui-dropdown--items">
                                  <a data-val="Users"></a>
                                  <a data-val="Edit"></a>
                                  <a data-val="Delete"></a>
                              </div>
                          </div>
                      </td>
                  </tr>
                      </tbody>
                  </table>
                  <div class="pagination mb-2 mt-2">
                      <ul>
                          <li class="arrow-left"><a href="javascript:void(0)"><span class="material-icons-outlined">chevron_left</span></a></li>
                          <li class="active"><a href="javascript:void(0)">1</a></li>
                          <li><a href="javascript:void(0)">2</a></li>
                          <li><a href="javascript:void(0)">3</a></li>
                          <li class="arrow-right"><a href="javascript:void(0)"><span class="material-icons-outlined">chevron_right</span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


