<div class="sidebar">
  <div class="sidebar-header">
      <div class="top-header">
          <a class="sidebar-logo"><img src="assets/img/logo-icon.png"></a>
          <a class="sidebar-logo-text"><img src="assets/img/logo-text.png"></a>
          <div class="ham__menu" id="contentMenu">
              <a id="mobileMenu" class="content-menu d-lg-none"></a>
          </div>
      </div>
      <div class="profile">
          <figure><img src="assets/img/profile.png"></figure>
          <article>
              <h2>Hardik Ajmeri</h2>
              <p>General Physician</p>
          </article>
      </div>
  </div><!-- sidebar-header -->
  <div class="sidebar-body">
      <ul class="nav-sidebar">
        <ng-container  *ngFor="let item of navitem">
          <li class="nav-item"><a class="nav-link {{item.children?'with-sub':''}}"  [routerLink]="item.url"><span class="material-icons-two-tone">{{item.icon}}</span><span>{{item.name}}</span></a>
              <nav class="nav-sub" *ngIf="item.children">
                <ng-container  *ngFor="let child of item.children">
                <a class="sub-link" [routerLink]="child.url">{{child.name}}</a>
              </ng-container>
              </nav>
          </li>
        </ng-container>

      </ul>
  </div><!-- sidebar-body -->
</div>
