@use './../abstracts/mixin' as *;
@use './../abstracts/flex-mixin' as *;
@use './colors' as *;
@use './typo' as *;
@use './common' as *;
@use './../components/star-ratings';

:root {
    --low-radius: 10px;
    --dp-shadow: 1px 0 1px rgba(216,222,230,.25),2px 0 2px rgba(216,222,230,.2),4px 0 4px rgba(216,222,230,.15),8px 0 8px rgba(216,222,230,.1),16px 0 16px rgba(216,222,230,.05);
    --card-shadow: 0px 0px 19px 0px rgba(0,0,0,0.05);
    --full-height: 100vh;
    --oval-radius: 50%;
}
body{
    background-color: color(theme-bg);
}
a {
    cursor: pointer;
}
.sidebar{
    width: 320px;
    background-color: color(white);
    box-shadow: var(--dp-shadow);
    transition: all .3s;
    position: fixed;
    top: 0;
    height: var(--full-height);
    display: flex;
    flex-direction: column;
    .sidebar-header{
        padding: 35px 20px;  
        align-items: center;       
        // height: 70px;
        position: relative;
        background-color: color(lightyellow);
        float: left;
        width: 100%;
        .top-header{
            display: flex;
            flex-shrink: 0;
        }
        .sidebar-logo {
            padding: 0 8px;
        }
        .sidebar-logo-text {
            margin-left: 5px;
            opacity: 1;
            transition: all .3s ease;
        }
        .ham__menu{
            position: absolute;
            right: 25px;
            top: 38px;
            .material-icons-outlined{
                color: #4f4b4f;
            }
            .content-menu{
                position: relative;
                &:after{
                    content: '\e9bd';
                    font-family: 'Material Icons Round';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 24px;
                    color: #404040;
                }
            }
        }
        .profile{
            position: relative;
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            margin: 30px 0 10px;
            opacity: 1;
            & > figure{
                border-radius: var(--low-radius);
                overflow: hidden;
                margin-right: 15px;
            }
            & > article{
                h2{
                    font-size: 18px;
                    color: color(hvy-darkgray);
                    @include fw(b);
                }
                p{
                    color: color(midlght-gray);
                    font-size: 14px;
                }
            }
        }
    }
    .sidebar-body {
        height: 100%;
        position: relative;
        .nav-sidebar {
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            
            .nav-item {
                list-style: none;
                .nav-sub {
                    // display: none;
                    flex-direction: column;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background-color: color(lightgrey);
                    border-radius: var(--low-radius);
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 1s ease-out;
                    .sub-link {
                        height: 5px;
                        padding: 18px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        transition: .3s ease-in-out;
                        color: color(drk-gray);
                        &:first-child{
                            padding-top: 30px;
                        }
                        &:last-child{
                            padding-bottom: 30px;
                        }
                        &:before{
                            content: '_';
                            display: inline-block;
                            font-size: 30px;
                            margin-right: 0;
                            opacity: 0;
                            transition: .3s ease-in-out;
                        }
                        &:hover{
                            margin-left: 10px;
                            transition: .3s ease-in-out;
                            &:before{
                                content: '_';
                                display: inline-block;
                                font-size: 30px;
                                margin-right: 5px;
                                opacity: 1;
                                transition: .3s ease-in-out;
                            }
                        }
                    }
                }
                &.show{
                    .nav-sub {
                        height: auto;
                        max-height: 500px;
                        transition: max-height 1s ease-in !important;
                    }
                }
            }
            .nav-link {
                height: 45px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                border-radius: 5px;
                white-space: nowrap;
                color: color(drk-gray);
                .material-icons-two-tone{
                    opacity: 0.6;
                    margin-right: 10px;
                    font-size: 22px;
                }
                &.with-sub{
                    position: relative;
                    &:after{
                        content: '\e5cf';
                        font-family: 'Material Icons Outlined';
                        font-weight: normal;
                        font-style: normal;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
.content{
    margin-left: 320px;
    position: relative;
    min-height: var(--full-height);
    transition: all .3s ease;
    .content-body {
        padding: 35px;
    }
}
