<div class="content-main">
  <div class="card-1">
      <div class="card-head">
          <h2 class="heading">Docplexus Stories</h2>
          <p class="entries">Showing 1 to 20 of 182 entries</p>
      </div>
      <div class="card-content">
          <div class="table-header">
              <div class="search">
                  <div class="form-element">
                      <input type="text" class="form-field" placeholder="Search">
                      <span class="material-icons-outlined">search</span>
                  </div>
              </div>
              <div class="filter">
                  <!-- <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white"><span class="material-icons-outlined">filter_alt</span> Filter</a> -->
                  <div class="ui-dropdown ml-auto filter">
                      <span class="ui-dropdown--selected btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white"><span class="material-icons-outlined">filter_alt</span> Filter</span>
                      <div class="ui-dropdown--items">
                          <h3 class="title">Filter Options</h3>
                          <div class="filter-box">
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by UUID">
                              </div>
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by Name">
                              </div>
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by Date">
                              </div>
                              <div class="form-element mb-1 text-right">
                                  <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white" (click)="openAddEditStoryModal('add',{})"><span class="material-icons-outlined">add</span> Add Stories</a>

              </div>
          </div>
          <div class="table-body pt-0">
              <div class="table">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Story Title</th>
                              <th>Attachment URL</th>
                              <th>&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let item of storyList">
                          <tr >
                              <td>{{item.title}}</td>
                              <td>{{item.thumbnailUrl}}</td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit" (click)="openAddEditStoryModal('edit',item)"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                        </ng-container>

                      </tbody>
                  </table>
                  <div class="pagination mb-2 mt-2">
                      <ul>
                          <li class="arrow-left"><a href="javascript:void(0)"><span class="material-icons-outlined">chevron_left</span></a></li>
                          <li class="active"><a href="javascript:void(0)">1</a></li>
                          <li><a href="javascript:void(0)">2</a></li>
                          <li><a href="javascript:void(0)">3</a></li>
                          <li class="arrow-right"><a href="javascript:void(0)"><span class="material-icons-outlined">chevron_right</span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="sds-modal sds-modal-center {{showModal?'is-active':''}}" id="addstory">
  <div class="sds-modal-box small">
      <a class="close-modal sds-modal-close sds-modal-exit" (click)="closeModal()">
          <span class="material-icons">close</span>
      </a>
      <div class="sds-modal-content">
          <h2 class="title">{{isEdit?'Edit':'Add'}} Story</h2>
          <form class="allForm">
              <div class="grid-2">
                  <div class="form-element">
                      <label class="form-label">Story Title</label>
                      <input type="text" class="form-field" name="title"  [(ngModel)]="storyFormDetails.title">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Attachment URL</label>
                      <input type="text" class="form-field" name="thumbnailUrl"  [(ngModel)]="storyFormDetails.thumbnailUrl">
                  </div>
              </div>
              <div class="grid-1">
                <div class="form-element form-btn text-right">
                  <button type="button" class="btn bg-yellow btn-sm c-black xs-rounded" (click)="addUUID()">Add UUID</button>
              </div>
              <ng-container *ngIf="storyFormDetails?.contentUUIDList.length>0">
                <div class="form-element"  *ngFor="let item of storyFormDetails?.contentUUIDList; let i = index">
                    <label class="form-label">Content UUIDs</label>
                    <input type="text" class="form-field" name="uuid{{i}}" [(ngModel)]="item.id">
                </div>
            </ng-container>
              </div>
              <div class="grid-1">
                  <div class="form-element form-btn text-right">
                      <button type="button" class="btn bg-yellow c-black xs-rounded" *ngIf="isEdit" (click)="addEditStory('edit')">Update Story</button>
                      <button type="button" class="btn bg-yellow c-black xs-rounded" *ngIf="!isEdit" (click)="addEditStory('add')">Add Story</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
