<div class="content-main">
  <div class="card-1">
      <div class="card-head">
          <h2 class="heading">List of Infocenter</h2>
          <p class="entries">Showing 1 to 20 of 182 entries</p>
      </div>
      <div class="card-content">
          <div class="table-header">
              <div class="search">
                  <div class="form-element">
                      <input type="text" class="form-field" placeholder="Search">
                      <span class="material-icons-outlined">search</span>
                  </div>
              </div>
              <div class="filter">
                  <!-- <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white"><span class="material-icons-outlined">filter_alt</span> Filter</a> -->
                  <div class="ui-dropdown ml-auto filter">
                      <span class="ui-dropdown--selected btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white"><span class="material-icons-outlined">filter_alt</span> Filter</span>
                      <div class="ui-dropdown--items">
                          <h3 class="title">Filter Options</h3>
                          <div class="filter-box">
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by UUID">
                              </div>
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by Name">
                              </div>
                              <div class="form-element mb-1">
                                  <input type="text" class="form-field" placeholder="Search by Date">
                              </div>
                              <div class="form-element mb-1 text-right">
                                  <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="btn bg-yellow xs-rounded solid bg-hvr-orange c-hvr-white" onclick="openModal('addinfocenter')"><span class="material-icons-outlined">add</span> Add Infocenter</a>

              </div>
          </div>
          <div class="table-body pt-0">
              <div class="table">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>&nbsp;</th>
                              <th>UUID</th>
                              <th>Name</th>
                              <th>Pharma Name</th>
                              <th>Contact Person</th>
                              <th>Email</th>
                              <th>Launch Date</th>
                              <th>&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="halt">
                              <td></td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="resume">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="resume">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="halt">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="resume">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="resume">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="resume">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="halt">
                              <td>&nbsp;</td>
                              <td><a>5LEui</a></td>
                              <td><a>Diarrhea Expert Forum</a></td>
                              <td>Sanofi</td>
                              <td>Ask Sanofi</td>
                              <td>asksanofi@sanofi.com</td>
                              <td>30-05-2019 at <b>3:45 PM</b></td>
                              <td>
                                  <div class="ui-dropdown ml-auto">
                                      <span class="ui-dropdown--selected">Actions</span>
                                      <div class="ui-dropdown--items">
                                          <a data-val="Users"></a>
                                          <a data-val="Edit"></a>
                                          <a data-val="Delete"></a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <div class="pagination mb-2 mt-2">
                      <ul>
                          <li class="arrow-left"><a href="javascript:void(0)"><span class="material-icons-outlined">chevron_left</span></a></li>
                          <li class="active"><a href="javascript:void(0)">1</a></li>
                          <li><a href="javascript:void(0)">2</a></li>
                          <li><a href="javascript:void(0)">3</a></li>
                          <li class="arrow-right"><a href="javascript:void(0)"><span class="material-icons-outlined">chevron_right</span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="sds-modal sds-modal-center" id="addinfocenter">
  <div class="sds-modal-box small">
      <a class="close-modal sds-modal-close sds-modal-exit">
          <span class="material-icons">close</span>
      </a>
      <div class="sds-modal-content">
          <h2 class="title">Add New Infocenter</h2>
          <form class="allForm">
              <div class="grid-2">
                  <div class="form-element">
                      <label class="form-label">Infocenter Name</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Website URL</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Launch Date & Time</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Select Therapeutic Areas</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Company - Name</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Company - Location</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact - Name</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact - Designation</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact - Email</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Company - Phone</label>
                      <input type="text" class="form-field">
                  </div>
                  <div class="form-element">
                      <label class="form-label">Infocenter Welcome Description</label>
                      <textarea class="form-field"></textarea>
                  </div>
                  <div class="form-element">
                      <label class="form-label">Pharma Contact Description</label>
                      <textarea class="form-field"></textarea>
                  </div>
              </div>
              <div class="grid-1">
                  <div class="form-element form-btn text-right">
                      <button class="btn bg-yellow c-black xs-rounded">Add Infocenter</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
