<div class="footer mt-0 mb-2">
  <div class="copyright">
      Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> <b>Docplexus</b>. All Rights Reserved.
  </div>
  <div class="sundew-logo">
      <a><img src="assets/img/sundew.png"></a>
  </div>
</div>
