@use './../project/colors' as *;
@use './../project/typo' as *;
@use './../abstracts/mixin' as *;
@use './../abstracts/flex-mixin' as *;

.allForm{
  float: left;
  width: 100%;
}

.form-element {
  float: left;
  position: relative;
  margin-bottom: 25px;

  .form-field{
    width: 100%;
    min-height: 42px;
    font-weight: inherit;
    text-align: left;
    padding: 12px 18px;
    border: none;
    background: color(white);
    resize: none;
    color: color(black);
    border-radius: 5px;
    border: 1px solid #2f2f2f;
  }

  .form-label{
    font-weight: inherit;
    width: auto;
    font-size: 14px;
    color: #626262;
    position: absolute;
    left: 16px;
    top: 14px;
    pointer-events: none;
    margin-bottom: 6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    float: left;
    width: auto;
  }
  &.form-file{
    width: 100%;
    min-height: 42px;
    font-weight: inherit;
    text-align: left;
    padding: 18px 20px 16px 50px;
    border: none;
    background: #ffffff;
    resize: none;
    color: #000000;
    border-radius: 5px;
    #demo{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 10px;
    }
  }
  &.form-file [type="file"]{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  &.multi-select{
    .form-field{
      padding: 0;
      display: block;
    }
    // app-multi-select-dropdown{
    //   display: block;
    // }
    .drop-toggle{
      border: none!important;
      width: calc(100% - 50px)!important;
      text-align: left!important;
      margin-left: 50px!important;
      padding: 20px 0px 21px 0px!important;
      border-radius: 4px!important;
      cursor: pointer!important;
      background-color: #fff!important;
      & > span{
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        padding-right: 40px;
      }
    }

  }
  &.form-upload{
    margin-top: 60px;
    .upload-container{
      position: relative;
      border: 1px solid #2f2f2f;
      border-radius: 10px;
      padding: 10px;
      float: left;
      width: 100%;
      label{
        font-size: 14px;
        color: #626262;
        position: absolute;
        top: -30px;
        left: 0;
      }
    }
    
  }
  &.form-btn{
    .btn{
      border-radius: 5px;
      font-size: 18px;
      color: color(black);

      &:hover {
        &:after {
          padding-left: toRem(45);
          transition: 0.3s;
        }
      }
    }
  }
  &.has-value{
    .form-label{
      background: #fff;
      padding: 4px;
      width: auto;
      top: -14px;
    }
  }
}

.form-element.form-select {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 44%;
    right: 20px;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-style: solid;
    border-color: color(black);
    border-width: 0 2px 2px 0;
  }
}
.form-element.country-select{
  &:after{
    display: none;
  }
}
.form-element.form-otp{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  .form-field{
    width: 100%;
    font-weight: inherit;
    text-align: left;
    padding: 20px;
    border: none;
    background: #ffffff;
    resize: none;
    color: #000000;
    border-radius: 10px;
    height: 80px;
    text-align: center;
    font-size: 30px;
  }
}
textarea{
  width: 100%;
  padding: 30px 40px;
  height: 100px;
  outline: none !important;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  resize: none;

}

.form-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    top: 50%;
    transform: translateY(-50%);
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
    &:after {
      left: 6px;
      top: 3px;
      width: 5px;
      height: 9px;
      border: solid #000;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input:checked ~ .checkmark {
    background-color: color(yellow);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}

.form-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eee;
    border-radius: 50%;
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input:checked ~ .checkmark {
    background-color: color(yellow);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }

}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
