
@use './../project/colors' as *; 
@use './../project/typo' as *; 
@use './../abstracts/mixin' as *;


/* --- Video Modal --- */
.noscroll {
	overflow: hidden;
}
.video-modal,
.video-modal .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.video-modal {
  z-index: 3000;
  overflow: hidden;
  position: fixed;
  opacity: 0;
  -webkit-transform: translate(500%, 0);
          transform: translate(500%, 0);
  -webkit-transition: -webkit-transform 0s linear 0s;
                  transition: transform 0s linear 0s;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.video-modal .overlay {
  z-index: 0;
  background-color: rgba(33,36,46,.9);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.video-modal-content {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto; 
  width: calc(60% - 12em);
  height: 0;
  padding-top: calc((60% - 12em) * 0.5625);
  margin: 0 auto;
  overflow-y: visible;
  background-color: #000;
  z-index: 1;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}



/* Mobile */
@media (max-width: 640px) {
    .video-modal-content {
      width: calc(100% - 1em);
      padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
    }
}

/* modal close button */
.close-video-modal {
    display: block;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: red;
    z-index: 1;
    &:before,
    &:after  {
        content: "";
        width: 3px;
        height: 18px;
        top: 13px;
        left: 20px;
        border-radius: 10px;
        background-color: #fff;
        position: absolute;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg) ;
    }
}

/* iframe element stretch to fit */
iframe#youtube {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: #111;
	box-shadow: 0 2px 16px rgba(0,0,0,0.5);
}

/* show modal */
.show-video-modal .video-modal {
	opacity: 1;
	-webkit-transform: translate(0,0);
          transform: translate(0,0);
}
.show-video-modal .video-modal .overlay {
	opacity: 1;
}
.show-video-modal .video-modal-content {
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
      -moz-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
}





// signup modal
.sds-ui--modal{
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index: 11;

  &.showing-modal {
    transform:scale(1);
    .sds-ui--modal-bg {
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    .sds-ui--modal-outer {
      background-color:transparent;
      animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    .sds-ui--modal-inner{
      opacity:0;
      animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      -webkit-animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    .sds-ui--modal-svg {
      rect {
        animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
    &.out {
      animation: quickScaleDown 0s .5s linear forwards;
      .sds-ui--modal-bg {
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
      .modal {
        animation: modalFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        h2,p {
          animation: modalContentFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        .sds-ui--modal-svg {
          rect {
            animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            -webkit-animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    }
  }
  
  .sds-ui--modal-bg {
    display:table-cell;
    background:rgba(0,0,0,.8);
    vertical-align:middle;
  }

  .sds-ui--scroll{
    max-height: 100vh;
    overflow: auto;
  }

  .sds-ui--modal-outer {
    max-width: 380px;
    margin: 0 auto;
    padding: toRem(25) toRem(35);
    border-radius: toRem(25);
    position:relative;
    &.large{
      max-width: 850px;
    }
  }

  .sds-ui--modal-inner{
    opacity: 0;
  }


  h4{
    font-size: toRem(25);
    line-height: 1.5;
  }

  h3 {
    font-weight: bold;
    font-size: toRem(16);
    line-height: 16px;
    margin-bottom: 20px;
    padding-top: 0.1px;
  }
  h5 {
    font-size: toRem(16);
    font-weight: 500;
    margin-bottom: 0.5em;
    padding-top: 0.1px;
  }
  p {
    font-size: toRem(12);
    line-height: 1.5;
    margin-bottom: 20px;
    padding-top: 0.1px;
  }
  

  .sds-ui--modal-svg {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border-radius: 25px;
    z-index: -1;
    rect {
      stroke: #fff;
      stroke-width: 3px;
      stroke-dasharray: 778;
      stroke-dashoffset: 778;
    }
  }
}



@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform:scale(.85);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes slideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes slideDownLarge {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(150px);
  }
}

@keyframes blowUpContent {
  0% {
    transform:scale(1);
    opacity:1;
  }
  99.9% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform:scale(2);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes blowUpModal {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform:scale(1);
    opacity:1;
  }
  100% {
    transform:scale(0);
    opacity:0;
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes sketchIn {
	0% {
		stroke-dashoffset: 778;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes sketchOut {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 778;
	}
}

@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background-color:white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color:white;
  }
  100% {
    background-color:transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
  100% {
    opacity:1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity:1;
    top:0px;
  }
  100% {
    opacity:0;
    top:-20px;
  }
}

@keyframes bondJamesBond {
  0% {
    transform:translateX(1000px);
  }
  80% {
    transform:translateX(0px);
    border-radius:75px;
    height:75px;
    width:75px;
  }
  90% {
    border-radius:3px;
    height:182px;
    width:247px;
  }
  100% {
    border-radius:3px;
    height:162px;
    width:227px;
  }
}

@keyframes killShot {
  0% {
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  100% {
    transform:translateY(300px) rotate(45deg);
    opacity:0;
  }
}

@keyframes fadeToRed {
  0% {
    background-color:rgba(black,.6);
  }
  100% {
    background-color:rgba(red,.8);
  }
}

@keyframes slowFade {
  0% {
    opacity:1;
  }
  99.9% {
    opacity:0;
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}



.flow-root{
  & > *:not(:last-child){
    margin-bottom: 2rem;
  }
}





.sds-modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 99999;
  background-color: rgba(#000, 0.9);
  opacity: 0;
  pointer-events: none;
  @include transition(opacity .3s);
  @include transition-delay(0.3s);

  // MODAL CENTER
  &.sds-modal-center{
      overflow: auto;
      .sds-modal-box{
          width: 92%;
          max-width: 700px;
          transform: translate(-50%, 50%);
          position: absolute;
          left: 50%;
          top: 50%;
          margin-bottom: 40px;
          opacity: 0;
          will-change: opacity,top;
          transition: 0.2s linear;
          &.small-2{
              max-width: 400px;
          }
      }
      &.is-active{
          opacity: 1;
          pointer-events: auto;
          .sds-modal-box{
              top: 40px;
              opacity: 1;
              transition-delay: 0.3s;
          }
      }
  }

  // MODAL SIDE
  &.sds-modal-side{
      overflow: hidden;
      .sds-modal-box{
          width: 900px;
          height: 100vh;
          background-color: color(white);
          overflow: auto;
          float: right;
          transform: translateX(100%);
          opacity: 0;
          will-change: opacity, transform;
          transition: 0.2s linear;
      }
      &.is-active{
          opacity: 1;
          pointer-events: auto;
          .sds-modal-box{
            transform: translateX(0);
              opacity: 1;
          }
      }
  }
}


.sds-modal-header{
  width: 100%;
  float: left;
  padding: 12px 15px;
  position: relative;
  h5{
      width: auto;
      float: left;
      color: color(white);
      font-size: 18px;
  }
}

.sds-modal-content {
  padding: 0;
  background-color: color(white);
  overflow: hidden;
  @media(max-width:812px){
    padding: 20px;
  }
  h4.h2 {
    color: color(white);
    background-color: color(lgrn);
    font-size: 30px;
    line-height: 40px;
    position: relative;
    margin: 0 0 30px;
    font-weight: 500;
    padding:0 0 10px;
    text-align:left;
    @media(max-width:1540px){
      font-size: 26px;
      line-height: 32px;
    }
    @media(max-width:1366px){
      font-size: 24px;
      line-height: 28px;
    }
    @media(max-width:812px){
      font-size: 22px;
      line-height: 26px;
    }
  }
  .sds-modal-close{
    width:30px;
    height:30px;
    top: 10px;
    right: 10px;
    opacity: 1;
    z-index: 999;
    position: absolute;
    &:before, &:after{
      background-color: color(black);
      right: 3px;
      margin-top: -2px;
      content: '';
      display: inline-block;
      width: 24px;
      height: 2px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }
}

